nobybot2/config.py
nobybot2/*.session
nobybot2/*.session-journal
nobybot2/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
nobybot2/modules/helper_funcs/temp.txt
nobybot2/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
nobybot2.session-journal
updates.txt
*.exe
